{% extends 'forum/base.html' %}

{% block head %}
<title>PyDj Dashboard</title>
{% endblock %}

{% block content %}

<h2>{{ header }}</h2>
<p>{{ paragraph }}</p>

{% if latest_topic_list %}
    <ul>
    {% for topic in latest_topic_list %}
        <li><a href="/forum/{{ topic.id }}/">{{ topic.topic_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No topic are available.</p>
{% endif %}

{% if latest_post_list %}
    <ul>
    {% for topic in latest_post_list %}
        <li><a href="/forum/{{ post.id }}/">{{ post.post_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No post are available.</p>
{% endif %}

{% endblock %}