{% extends 'forum/base.html' %}

  {% block head %}
  <title>PyDj Home</title>
  {% endblock %}

  {% block content %}

  {% if user.is_authenticated %}

    <h2>{{ header }}</h2>
    <p>{{ paragraph }}</p>

    {% if latest_topic_list %}
      <ul>
      {% for topic in latest_topic_list %}
          <li><a href="/forum/{{ topic.id }}/">{{ topic.topic_title }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No topic are available.</p>
  {% endif %}

{% else %}
<h2>{{ header }}</h2>
<p>{{ paragraph }}</p>

{% endif %}
{% endblock %}