{% extends 'forum/base.html' %}

{% block head %}
<title>PyDj Home</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% if all_posts_list %}
        <ul>
        {% for post in thread_posts_list %}
            <li><a href="/forum/{{ thread.id }}/">{{ post.post_text }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No posts in this thread are available.</p>
    {% endif %}
{% else %}
    <h2>{{ header }}</h2>
    <p>{{ paragraph }}</p>
{% endif %}
{% endblock %}