body{
    background-color: rgb(238, 255, 6);
}
#logo{
    background-color: rgba(34, 212, 11, 0.685);
}
#middle{
    background-color: rgba(217, 255, 0, 0.74);
}
#buttons{
    background-color: rgba(223, 47, 3, 0.767);
}
#content{
    background-color: rgb(0, 255, 179);
}
#footer{
    background-color: rgba(235, 13, 216, 0.541);
}